<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="title" type=""*/-->
<h1 style="" th:text="${title}"></h1>
<!--/*@thymesVar id="content" type=""*/-->

<div style="text-align:center;">
    <table width="600" cellpadding="0" cellspacing="0" border="1" style="margin:0 auto;">
        <tbody >
        <tr>
            <th colspan="2"><h4>送测单</h4></th>
        </tr>
        <tr>
            <th>ww</th>
            <th>ww</th>
        </tr>  <tr>
            <th>ww</th>
            <th>ww</th>
        </tr>  <tr>
            <th>ww</th>
            <th>ww</th>
        </tr>  <tr>
            <th>ww</th>
            <th>ww</th>
        </tr>  <tr>
            <th>ww</th>
            <th>ww</th>
        </tr>
        <tr>
            <th>ww</th>
            <th>ww</th>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>